*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Helvetica, Arial;
  font-size: 12px;
  background-image: url('../images/main_bg.png');
  background-color: #729d5c;
  background-repeat: repeat-x;
  color: #666;
}

a, a:hover, a:visited{
  color: #3fa81a;
  text-decoration: none;
}

p{
  padding-bottom: 10px;
}

#wrapper {
  width: 774px;
  margin: auto;
}

/* Header */
#header{
  width: 100%;
  height: 90px;
}

#logo{
  position: absolute;
  top: 20px;
}

#langSelect{
  margin-top: 10px;
}

#langSelect div{
  float: right;
  padding-right: 10px;
}

#langSelect a, #langSelect a:hover, #langSelect a:visited{
  background: #fff;
  color: #000;
}

#langSelect a.selected, #langSelect a.selected:hover, #langSelect a.selected:visited{
  /*background: #0da401;color: #fff;*/
  background: #ffee00;
  color: #000;
  cursor: default;
}

/* Menu */
#menu {
  height: 306px;
  width: 100%;
  background: url('../images/menu_bg.png') no-repeat;
}

#menuPhoto {
  padding: 7px 0px 0px 8px;
}

#menuBar {
  padding: 1px 17px;
  font-size: 13px;
  color: #3fa81a;
  height: 40px;
}

#menuBar div{
  float: left;
  height: 18px;
}

#menuBar .highlight{
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#menuBar .link{
  padding: 7px 17px;
  white-space: nowrap;
}

#menuBar .selected{
  background-color: #3fa81a;
}

#menuBar .selected a{
  color: #fff;
}

#menuBar .menuSeparator{
  padding-top: 5px;
}

/* Content */
#content{

}

#contentMiddle{
  background: url('../images/content_bg_middle.png') repeat-y;
}

#contentBottom{
  height: 12px;
  background: url('../images/content_bg_bottom.png') repeat-x;
  margin-bottom: 20px;
  clear: both;
}

/* Buttons */
.btn, .btn:hover, .btn:visited {
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  background-color: #3aaf08;
  padding: 2px 10px;
}

.light, .light:visited, .light:hover {
  background-color: #92d611;
}

.light {

}

/* Forms */
input{
  border: solid 1px #666;
}

input.submit{
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  background-color: #3aaf08;
  padding: 2px 10px;
  border: 0px;
  cursor: pointer;
}

input.error{
  background-color: #eea;
  border: 1px solid #c00;
}

div.input{
  padding-bottom: 5px;
}

div.btns{
  margin-top: 5px;
}

/* Dialogs */
#overlay{
  background-color: #ffffff;
  filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  display: none;
  z-index: 1;
}

#dialogWrapper{
  width: 100%;
  position: fixed;
  top: 200px;
  display: none;
  z-index: 2;
}

#dialog{
  width: 419px;
  margin: auto;
}

#dialog div.top{
  background: url('../images/dialog_bg_top.png');
  height: 21px;
}

#dialog div.middle{
  background: url('../images/dialog_bg_middle.png');
  padding: 0px 25px 0px 25px;
}

#dialog div.bottom{
  background: url('../images/dialog_bg_bottom.png');
  height: 21px;
}

#dialog h3{
  text-align: center;
  padding-bottom: 10px;
}


/* Miscelaneous */

.navBar{
  text-align: right;
  padding: 20px 20px 0px 0px;
  clear: left;
}

.separator{
  height: 20px;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}

.error{
  color: #c00;
}

/* Text */
h2{
  text-transform: uppercase;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: Normal;
}

/* Side Bar */
#contentLeft{
  margin-right: 220px;
  background: url('../images/sidebar_separator.png') right repeat-y;
}

#sideBarRight{
  float: right;
  width: 180px;
  margin: 20px;
}

.sideBarLink{
  padding-bottom: 20px;
}

.sideBarLinkTitle{
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: -1px;
}

.sideBarLinkDescrip{
  padding: 5px 0px;
}

#sponsors{
  clear: both;
  margin-right: 4px;
  margin-left: 6px;
  border-top: 1px solid #ccc;
  padding: 20px 0px 20px 30px;
  font-size: 1.2em;
  font-weight: bold;
}

#sponsorLogos{
  padding-top: 20px;
}

/* News Module */
#news{
  padding: 0px 4px 20px 30px;
}

.ni{
  padding-top: 20px;
  clear: left;
}

.niCreatedAt{
    float: right;
    padding: 5px 20px;
    font-size: 12px;
    font-weight: bold;
    color: #999;
}

.niPhoto{
  float: left;
  width: 180px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 4px solid #666;
}

.niContent{
  margin-right: 20px;
}

.niReadMore{
  padding: 20px 0px;
}

/* Product Module */
#products{
  padding: 0px 26px;
}

.pr{
  padding-top: 30px;
  clear: right;
}

.prPhotoCont{
  float: right;
  margin: 0px;
  padding: 0px 0px 20px 20px;
  background-color: #fff;
}

.prPhoto{
  float: left;
  border: 4px solid #666;
}

.prContent .separator{
  margin: 5px 0px;
  height: 5px;
}

/* Login and registration */
#email{
  width: 200px;
  height: 17px;
}

#register label{
  position: absolute;
}

#register div.input input, #register div.input div, #register div.btns{
  margin-left: 130px;
}

/* Static content */
#staticSideBar{
  position: fixed;
  width: 190px;
  padding: 10px 0px 20px 10px;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
}

#staticSideBar ul{
  padding-left: 10px;
}

#staticSideBar li{
  list-style: none;
  border-top: 1px dashed #999;
}

#staticSideBar li div{
  padding: 8px 0px;
}

#staticSideBar li a{
  color: #888;
}

#staticSideBar .arrow{
  float: right;
  color: #3fa81a;
  position: relative;
  top: -2px;
}

#staticContent{
  background: url('../images/sidebar_separator.png') left repeat-y;
  margin-left: 210px;
  padding: 0px 7px 0px 4px;
}

#staticContent h1{
  padding: 10px 20px 0px 20px;
  font-weight: normal;
  color: #3fa81a;
  font-size: 2em;
}

#staticContent h2{
  text-transform: none;
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: 0px;
  padding-bottom: 10px;
}

#staticContent .separator{
  height: 10px;
}

#staticContent .section{
  padding: 0px 20px 20px 20px;
}

#staticContent ul{
  padding: 0px 0px 10px 20px;
}